/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2018, 03:25:09 PM
    Author     : Diego Cardenas
*/

body .ui-carousel .ui-carousel-page-links {
    margin: 0 0.429em;
    position: relative;
    top: 0.143em;
}

.ui-carousel .ui-carousel-page-links {
    margin: 0px 9px;
    margin-top: 1px;
    display: inline-table;
    float: right;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family:"PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
}
body .ui-carousel .ui-carousel-viewport {
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #333333;
    padding: 0;
}

.ui-carousel .ui-carousel-viewport {
    overflow: hidden;
    position: relative;
    border: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
}
body {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}
.ui-carousel .ui-carousel-page-links .ui-carousel-page-link.ui-icon-radio-off:before {
    content: "o";
    
}
body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family:"PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
}
body .ui-carousel {
    padding: 0;
}
body .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
body .ui-widget, body .ui-widget .ui-widget {
    text-decoration: none;
}
.ui-carousel {
    margin-bottom: 20px;
}
.ui-carousel {
    position: relative;
    padding: 1px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}


.ui-carousel .ui-carousel-header {
    margin: 0 1px;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}
body .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
}
body {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}
body .ui-carousel .ui-carousel-button.ui-carousel-next-button {
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    background: none;
    display: inline-block;
    font-size: 1.25em;
}
body .ui-carousel .ui-carousel-button {
    margin: 0 0 0 0.429em;
    color: white;
    position: relative;
    top: 0.143em;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.ui-carousel .ui-carousel-page-link, .ui-carousel .ui-carousel-button {
    cursor: pointer;
}
.ui-carousel .ui-carousel-button {
    float: right;
    margin: 2px;
}
body .ui-icon {
    height: 1em;
    width: 1em;
    font-size: 1.25em;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-top: 0;
    position: static;
    text-indent: 0;
    overflow: visible;
    background-repeat: no-repeat;
}
.ui-icon {
    display: block;
    vertical-align: baseline;
    margin-top: 0px;
}
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body .ui-carousel .ui-carousel-header {
    background-color:#8b0000;
    color: white;
    padding: 0.571em 1em 0.571em 1em;
    border: 1px solid #a07a7a;
    margin: 0;
    font-weight: 700;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
}
body {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}
body .ui-carousel .ui-carousel-button.ui-carousel-next-button:before {
    content: ">";
}
body .ui-carousel .ui-carousel-button.ui-carousel-prev-button {
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    background: none;
    display: inline-block;
    font-size: 1.25em;
}

body .ui-carousel .ui-carousel-button {
    margin: 0 0 0 0.429em;
    color: white;
    position: relative;
    top: 0.143em;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.ui-carousel .ui-carousel-page-link, .ui-carousel .ui-carousel-button {
    cursor: pointer;
}
.ui-carousel .ui-carousel-button {
    float: right;
    margin: 2px;
}
body .ui-state-disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
body .ui-icon {
    height: 1em;
    width: 1em;
    font-size: 1.25em;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-top: 0;
    position: static;
    text-indent: 0;
    overflow: visible;
    background-repeat: no-repeat;
}
.ui-icon {
    display: block;
    vertical-align: baseline;
    margin-top: 0px;
}
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-state-disabled {
    cursor: default !important;
    pointer-events: none;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
}
body {
    font-family:"PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body .ui-carousel .ui-carousel-button.ui-carousel-prev-button:before {
    content: "<";
}

body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link.ui-icon-radio-on {
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    background: none;
    display: inline-block;
    font-size: 1.25em;
}

body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link {
    color: white;
    text-decoration: none;
}
.ui-carousel .ui-carousel-page-link, .ui-carousel .ui-carousel-button {
    cursor: pointer;
}
.ui-carousel .ui-carousel-page-link {
    float: left;
    margin: 0 2px;
}
body .ui-icon {
    height: 1em;
    width: 1em;
    font-size: 1.25em;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-top: 0;
    position: static;
    text-indent: 0;
    overflow: visible;
    background-repeat: no-repeat;
}
.ui-icon {
    display: block;
    vertical-align: baseline;
    margin-top: 0px;
}
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
body a {
    text-decoration: none;
}
body a {
    color: #007ad9;
    text-decoration: none;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
}
body {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link.ui-icon-radio-on:before {
    content: "O";
}
body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link.ui-icon-radio-off:before {
    content: "O";
}
element.style {
    text-align: center;
    width: 189.713px;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: 1px;
    padding: 0;
    float: left;
}
body .ui-carousel .ui-carousel-viewport .ui-carousel-item {
    border: 1px solid #c8c8c8;
}
body .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.ui-carousel .ui-carousel-viewport .ui-carousel-items {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 32000px;
    left: 0;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
body .ui-carousel .ui-carousel-viewport {
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #0a0a0a;
    padding: 0;
}
body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
}
body {
    font-family:"PT Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}