<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.IniciativaMapper">

	<resultMap id="IniciativaResult" type="Iniciativa">
		<id property='no_iniciativa' column='iniNumero'/>
		<result property='nombre' column='nombreIniciativa'/>
		<result property='descripcion' column='descripcionIniciativa'/>
		<result property='fechaPropuesta' column='fechaPropuestaIniciativa'/>
		<result property='fechaCierre' column='fechaCierreIniciativa'/>		
		<result property='estado' column='estadoIniciativa' typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<association property="proponente" javaType='Usuario' resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult"></association>
		<!-- <collection property="intereses" ofType="Interes" resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.InteresMapper.InteresResult"></collection>
		<collection property="votantes" ofType="Usuario" resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult"></collection>
		<collection property="palabrasClave" ofType="String" ></collection>
		<collection property="comentarios" ofType="Comentario" resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.ComentarioMapper.CommentarioResult"></collection>-->
	</resultMap>	
	
	<insert id="crearIniciativa" parameterType="Iniciativa">
		INSERT INTO Iniciativas (nombre,descripcion,fechaPropuesta,estado,proponente) 
		VALUES (#{ini.nombre},#{ini.descripcion},now(),#{ini.estado},#{ini.usuario.correo}); 
	</insert>
	
	<insert id="agregarPalabraClave">
		INSERT INTO PalabrasClave (iniciativa,descripcion) 
		VALUES (#{idIni},#{descripcion}); 
	</insert>
	
	<update id="modificarEstado">
		UPDATE Iniciativas SET estado=#{estado} WHERE no_iniciativa=#{idIni};
	</update>
	
</mapper>