<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.IniciativaMapper">

	<resultMap id="IniciativaResult" type="Iniciativa">
		<id property='nombre' column='iniciativaNombre'/>
		<result property='descripcion' column='iniciativaDescripcion'/>
		<result property='fechaPropuesta' column='iniciativaFechaPropuesta'/>
		<result property='fechaCierre' column='iniciativaFechaCierre'/>
		
		<result property='estado' column='iniciativaEstado' typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<association property="proponente" javaType='Usuario' resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult"></association>
		
		<collection property="palabrasClave" ofType="java.lang.String" javaType="list">
        	<result column="iniciativaPalabrasClave" />
    	</collection>
    	
		<collection property="intereses" ofType="Interes" resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.InteresMapper.InteresResult"></collection>
		<collection property="votantes" ofType="Usuario" resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult"></collection>
		<collection property="comentarios" ofType="Comentario" resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.ComentarioMapper.ComentarioResult"></collection>
	</resultMap>	
	
	
	<select id="consultarIniciativa" parameterType="String" resultMap="IniciativaResult">
		SELECT
			ini.nombre AS iniciativaNombre,
			ini.descripcion AS iniciativaDescripcion,
			ini.fechapropuesta AS iniciativaFechaPropuesta,
			ini.fechacierre AS iniciativaFechaCierre,
			ini.estado AS iniciativaEstado,
			
			usr.correo AS usuarioCorreo,
			usr.nombre AS usuarioNombre,
			usr.tipo AS usuarioTipo,
			usr.area AS usuarioArea,
			pclaves.descripcion AS iniciativaPalabrasClave, 
			
			areas.id AS areaId,
			areas.nombre AS areaNombre,
			areas.descripcion AS areaDescripcion 
		FROM 
			iniciativas ini, usuarios usr, areas, palabrasclave pclaves
		WHERE
			ini.proponente = usr.correo AND usr.area = areas.id 
			AND pclaves.iniciativa=ini.nombre AND ini.nombre = #{nombreIni};
	</select>
	
	<select id="consultarIniciativas" resultMap="IniciativaResult">
		SELECT
			ini.nombre AS iniciativaNombre,
			ini.descripcion AS iniciativaDescripcion,
			ini.fechapropuesta AS iniciativaFechaPropuesta,
			ini.fechacierre AS iniciativaFechaCierre,
			ini.estado AS iniciativaEstado,
			
			usr.correo AS usuarioCorreo,
			usr.nombre AS usuarioNombre,
			usr.tipo AS usuarioTipo,
			usr.area AS usuarioArea,
			pclaves.descripcion AS iniciativaPalabrasClave,
			
			areas.id AS areaId,
			areas.nombre AS areaNombre,
			areas.descripcion AS areaDescripcion 
		FROM 
			iniciativas ini, usuarios usr, areas, palabrasclave pclaves
		WHERE
			ini.proponente = usr.correo AND usr.area = areas.id 
			AND pclaves.iniciativa=ini.nombre;
	</select>
	
	<select id="consultarIniciativasOrdenNombre" resultMap="IniciativaResult">
		SELECT
			ini.nombre AS iniciativaNombre,
			ini.descripcion AS iniciativaDescripcion,
			ini.fechapropuesta AS iniciativaFechaPropuesta,
			ini.fechacierre AS iniciativaFechaCierre,
			ini.estado AS iniciativaEstado,
			
			usr.correo AS usuarioCorreo,
			usr.nombre AS usuarioNombre,
			usr.tipo AS usuarioTipo,
			usr.area AS usuarioArea,
			pclaves.descripcion AS iniciativaPalabrasClave,
			
			areas.id AS areaId,
			areas.nombre AS areaNombre,
			areas.descripcion AS areaDescripcion 
		FROM 
			iniciativas ini, usuarios usr, areas, palabrasclave pclaves
		WHERE
			ini.proponente = usr.correo AND usr.area = areas.id 
			AND pclaves.iniciativa=ini.nombre;
		ORDER BY ini.nombre; 
	</select>
	
	<select id="consultarIniciativasOrdenDescripcion" resultMap="IniciativaResult">
		SELECT
			ini.nombre AS iniciativaNombre,
			ini.descripcion AS iniciativaDescripcion,
			ini.fechapropuesta AS iniciativaFechaPropuesta,
			ini.fechacierre AS iniciativaFechaCierre,
			ini.estado AS iniciativaEstado,
			
			usr.correo AS usuarioCorreo,
			usr.nombre AS usuarioNombre,
			usr.tipo AS usuarioTipo,
			usr.area AS usuarioArea,
			pclaves.descripcion AS iniciativaPalabrasClave,
			
			areas.id AS areaId,
			areas.nombre AS areaNombre,
			areas.descripcion AS areaDescripcion 
		FROM 
			iniciativas ini, usuarios usr, areas, palabrasclave pclaves
		WHERE
			ini.proponente = usr.correo AND usr.area = areas.id 
			AND pclaves.iniciativa=ini.nombre;
		ORDER BY ini.descripcion; 
	</select>
	
	<select id="consultarIniciativasOrdenFecha" resultMap="IniciativaResult">
		SELECT
			ini.nombre AS iniciativaNombre,
			ini.descripcion AS iniciativaDescripcion,
			ini.fechapropuesta AS iniciativaFechaPropuesta,
			ini.fechacierre AS iniciativaFechaCierre,
			ini.estado AS iniciativaEstado,
			
			usr.correo AS usuarioCorreo,
			usr.nombre AS usuarioNombre,
			usr.tipo AS usuarioTipo,
			usr.area AS usuarioArea,
			pclaves.descripcion AS iniciativaPalabrasClave,
			
			areas.id AS areaId,
			areas.nombre AS areaNombre,
			areas.descripcion AS areaDescripcion 
		FROM 
			iniciativas ini, usuarios usr, areas, palabrasclave pclaves
		WHERE
			ini.proponente = usr.correo AND usr.area = areas.id 
			AND pclaves.iniciativa=ini.nombre;
		ORDER BY ini.fechaPropuesta; 
	</select>
	
	<select id="consultarIniciativasOrdenEstado" resultMap="IniciativaResult">
		SELECT
			ini.nombre AS iniciativaNombre,
			ini.descripcion AS iniciativaDescripcion,
			ini.fechapropuesta AS iniciativaFechaPropuesta,
			ini.fechacierre AS iniciativaFechaCierre,
			ini.estado AS iniciativaEstado,
			
			usr.correo AS usuarioCorreo,
			usr.nombre AS usuarioNombre,
			usr.tipo AS usuarioTipo,
			usr.area AS usuarioArea,
			pclaves.descripcion AS iniciativaPalabrasClave,
			
			areas.id AS areaId,
			areas.nombre AS areaNombre,
			areas.descripcion AS areaDescripcion 
		FROM 
			iniciativas ini, usuarios usr, areas, palabrasclave pclaves
		WHERE
			ini.proponente = usr.correo AND usr.area = areas.id 
			AND pclaves.iniciativa=ini.nombre;
		ORDER BY ini.estado; 
	</select>
	
	<select id="consultarIniciativasOrdenFechaFin" resultMap="IniciativaResult">
		SELECT
			ini.nombre AS iniciativaNombre,
			ini.descripcion AS iniciativaDescripcion,
			ini.fechapropuesta AS iniciativaFechaPropuesta,
			ini.fechacierre AS iniciativaFechaCierre,
			ini.estado AS iniciativaEstado,
			
			usr.correo AS usuarioCorreo,
			usr.nombre AS usuarioNombre,
			usr.tipo AS usuarioTipo,
			usr.area AS usuarioArea,
			pclaves.descripcion AS iniciativaPalabrasClave,
			
			areas.id AS areaId,
			areas.nombre AS areaNombre,
			areas.descripcion AS areaDescripcion 
		FROM 
			iniciativas ini, usuarios usr, areas, palabrasclave pclaves
		WHERE
			ini.proponente = usr.correo AND usr.area = areas.id 
			AND pclaves.iniciativa=ini.nombre;
		ORDER BY ini.fechaCierre; 
	</select>
	
	<select id="consultarIniciativasxClaves" parameterType="String" resultMap="IniciativaResult">
		SELECT
			ini.nombre AS iniciativaNombre,
			ini.descripcion AS iniciativaDescripcion,
			ini.fechapropuesta AS iniciativaFechaPropuesta,
			ini.fechacierre AS iniciativaFechaCierre,
			ini.estado AS iniciativaEstado,
			
			usr.correo AS usuarioCorreo,
			usr.nombre AS usuarioNombre,
			usr.tipo AS usuarioTipo,
			usr.area AS usuarioArea,
			pclaves.descripcion AS iniciativaPalabrasClave,
			
			areas.id AS areaId,
			areas.nombre AS areaNombre,
			areas.descripcion AS areaDescripcion 
		FROM 
			iniciativas ini, usuarios usr, areas, palabrasclave pclaves
		WHERE
			ini.proponente = usr.correo AND usr.area = areas.id 
			AND pclaves.iniciativa=ini.nombre AND pclaves.descripcion = #{clave};
	</select>
	
	
	<insert id="crearIniciativa" parameterType="Iniciativa">
		INSERT INTO Iniciativas (nombre,descripcion,fechaPropuesta, estado, proponente) 
		VALUES (#{ini.nombre},#{ini.descripcion}, now(), #{ini.estado}, #{ini.proponente.correo}); 
	</insert>
	
	<insert id="agregarPalabraClave">
		INSERT INTO PalabrasClave (iniciativa,descripcion) 
		VALUES (#{nombreIni},#{descripcion}); 
	</insert>
	
	<update id="modificarEstado">
		UPDATE iniciativas SET estado=#{estado} WHERE nombre=#{nombreIni};
	</update>
	
	
	
</mapper>