<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.InteresMapper">

	<resultMap id="InteresResult" type="Interes">
		<id property="id" column="idInteres"></id>
		<result property="intencion" column="intencionInteres"></result>
		<result property="descripcion" column="descripcionInteres"></result>
		<result property="fecha" column="fechaInteres"></result>
		<result property="trabajo" column="trabajoInteres"></result>
	</resultMap>
	
	
</mapper>