<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.InteresMapper">

	<resultMap id="InteresResult" type="Interes">
		<id property="id" column="interesId"></id>
		<result property="intencion" column="interesIntencion"></result>
		<result property="descripcion" column="interesDescripcion"></result>
		<result property="fecha" column="interesFecha"></result>
		<result property="trabajo" column="interesTrabajo"></result>
	</resultMap>
	
	<insert id="usuarioMuestraInteresxIniciativa">
		INSERT INTO Intereses(iniciativa, intencion, descripcion, fecha, trabajo, usuario) 
		VALUES(#{nombreIni},#{interes.intencion},#{interes.descripcion}, #{interes.fecha}, #{interes.trabajo}, #{interes.interesado.correo});
	</insert>
	
</mapper>
