<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.UsuarioMapper">
	<resultMap id="UsuarioResult" type="Usuario">
		<id property='correo' column='usuarioCorreo'/>
		<result property='nombre' column='usuarioNombre'/>
		<result property='tipo' column='usuarioTipo' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
		<association property="area" javaType='Area' resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.AreaMapper.AreaResult"/>
	</resultMap>
	
	<insert id="crearUsuario" parameterType="Usuario" >		
		INSERT INTO Usuarios(correo, nombre, tipo, area)
		VALUES(#{usr.correo},#{usr.nombre}, #{usr.tipo}, #{usr.area.id});	
	</insert>
	
	<select id= "existeUsuario"  resultType = "java.lang.Integer">
		select count(usr.correo)
		from usuarios as usr 	
		where usr.correo = #{correo}
	</select>
	
	<select id="consultarUsuario" parameterType="String" resultMap="UsuarioResult">
		SELECT 
			usr.nombre as usuarioNombre,
			usr.correo as usuarioCorreo,
			usr.tipo as usuarioTipo,
			
			areas.nombre as areaNombre,
			areas.descripcion as areaDescripcion,
			areas.id as areaId
		FROM 
			usuarios as usr, areas
		WHERE 
			usr.area = areas.id AND usr.correo= #{correo}
	</select>
	
	<select id="consultarUsuarios" resultMap="UsuarioResult">
		SELECT 
			usr.nombre as usuarioNombre,
			usr.correo as usuarioCorreo,
			usr.tipo as usuarioTipo,
			
			areas.nombre as areaNombre,
			areas.descripcion as areaDescripcion,
			areas.id as areaId
		FROM 
			usuarios as usr, areas
		WHERE 
			usr.area = areas.id
	</select>
	
	<select id="consultarVotantesxIniciativa" resultMap="UsuarioResult">
		SELECT 
			usr.nombre as usuarioNombre,
			usr.correo as usuarioCorreo,
			usr.tipo as usuarioTipo,
			
			areas.nombre as areaNombre,
			areas.descripcion as areaDescripcion,
			areas.id as areaId
		FROM 
			usuarios usr, areas, votos, iniciativas ini
		WHERE 
			usr.area = areas.id and votos.iniciativa=ini.nombre and votos.usuario=usr.correo
			and votos.iniciativa=#{nombreIni};
	</select>
	
	<update id="asignarPerfil">
		UPDATE usuarios SET tipo=#{rol} WHERE correo=#{correo};
	</update>

</mapper>
