<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.UsuarioMapper">
	<resultMap id="UsuarioResult" type="Usuario">
		<id property='correo' column='usrCorreo'/>
		<result property='nombre' column='usrNombre'/>
		<result property='tipo' column='usrTipo' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
		<association property="area" javaType='Area' resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.AreaMapper.AreaResult"/>
		<collection property="intereses" ofType="Interes" resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.InteresMapper.InteresResult"></collection>
	</resultMap>
	
	<insert id="crearUsuario" parameterType="Usuario" >		
		INSERT INTO Usuarios(correo, nombre, tipo, area)
		VALUES(#{usr.correo},#{usr.nombre}, #{usr.tipo}, #{usr.area.id});	
	</insert>
	
	<select id= "existeUsuario"  resultType = "java.lang.Integer">
		select count(usr.correo)
		from usuarios as usr 	
		where usr.correo = #{correo}
	</select>
	
	<select id="consultarUsuario" parameterType="String" resultMap="UsuarioResult">
			SELECT 
		usr.nombre as usrNombre,
		usr.correo as usrCorreo,
		usr.tipo as usrTipo,
		usr.area as usrArea,
		areas.nombre as areaNombre,
		areas.descripcion as areaDescripcion,
		areas.id as areaId,
		iniciativas.no_iniciativa as iniNumero,
		iniciativas.nombre as nombreIniciativa,
		iniciativas.descripcion as descripcionIniciativa,
		iniciativas.fechapropuesta as fechaPropuestaIniciativa,
		iniciativas.estado as estadoIniciativa,
		iniciativas.fechacierre as fechaCierreIniciativa
		FROM usuarios as usr, areas , iniciativas
		WHERE usr.area = areas.id AND usr.correo= #{correo}
	</select>
	
	
	
	
	
	
	<select id="consultarUsuarios" resultMap="UsuarioResult">
		SELECT
			usr.correo, 
			usr.nombre,
			usr.tipo,
			usr.area,
			areas.nombre,
			areas.descripcion			
		FROM usuarios as usr, areas
		WHERE usr.area = areas.id;
	</select>
	
	<update id="asignarPerfil">
		UPDATE usuarios SET tipo=#{rol} WHERE correo=#{correo};
	</update>
	

</mapper>
