<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource = "test.properties"/>
	
	<settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
	
	
    <typeAliases>
        <typeAlias type='edu.eci.pdsw.entities.Area' alias='Area'/>
        <typeAlias type='edu.eci.pdsw.entities.Comentario' alias='Comentario'/>
        <typeAlias type='edu.eci.pdsw.entities.Estado' alias='Estado'/>
        <typeAlias type='edu.eci.pdsw.entities.Iniciativa' alias='Iniciativa'/>
        <typeAlias type='edu.eci.pdsw.entities.Interes' alias='Interes'/>
        <typeAlias type='edu.eci.pdsw.entities.Rol' alias='Rol'/>
        <typeAlias type='edu.eci.pdsw.entities.Usuario' alias='Usuario'/>
    </typeAliases>

	<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}"/>
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
			
	<mappers>
    	<mapper resource="mappers/UsuarioMapper.xml"></mapper> 
    	<mapper resource="mappers/IniciativaMapper.xml"></mapper>
    	<mapper resource="mappers/AreaMapper.xml"></mapper>
    	<mapper resource="mappers/InteresMapper.xml"></mapper>
    	<mapper resource="mappers/ComentarioMapper.xml"></mapper>              
    </mappers> 

</configuration>


